button{
  background-color: #0982d8;
  cursor: pointer;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(9, 216, 95);
  height: 100vh;
  color: white;
}

.AppHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.icon {
  margin-left: 5px;
  width: 50px;
  height: 50px;
  animation: spin 1s infinite;
}

.submitButton{
  margin-top: 25px;
}