.upload-file-area{
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 25px;
}

.upload-file-caption{
  display: block;
  position: absolute;
  transform: rotate(-45deg);
}
